.cursor {
  animation: blink 1s step-end infinite;
}
body {
  overflow: hidden;
  font-family: 'Cousine', monospace;
}

@media only screen and (max-width: 768px) {
  body {
      font-size: 14px;
  }

  .console {
      width: 95%;
      padding: 5px;
  }

  .consolebody {
      height: 200px;
  }
}

@keyframes blink {
  from, to {
      visibility: visible;
  }
  50% {
      visibility: hidden;
  }
}

/* Style the hidden input to blend into the background */
#visible-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.mac-terminal {
  background-color: #1e1e1e;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  color: #1ae127;
  font-size: 16px;
  width: 1000px;
  height: 550px;
}

.header {
  display: flex;
  align-items: center;
  padding: 13px;
  background-color: #333;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.header__op {
  display: flex;
  gap: 5px;
}

.header__op-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.header__op-icon--red {
  background-color: #ff5f56;
}

.header__op-icon--yellow {
  background-color: #ffbd2e;
}

.header__op-icon--green {
  background-color: #27c93f;
}

.header__title {
  flex-grow: 1;
  text-align: center;
  color: #ffffff;
  position: relative;
  left: -20px;
}

.body {
  padding: 15px;
}

.body__row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.mac-terminal {
  background-color: #1e1e1e;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  color: #1ae127;
  font-size: 16px;
  width: 1000px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.header {
  display: flex;
  align-items: center;
  padding: 13px;
  background-color: #333;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  cursor: move;
}
.body {
  padding: 15px;
  overflow-y: auto;
  height: calc(100% - 50px);
}
.cursor {
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from, to {
      visibility: visible;
  }
  50% {
      visibility: hidden;
  }
}
